<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <!-- @if(isAdmin()){
  <p>Only Admin can see this</p>
  }
  @else if(isUser()){
  <p>Only User can see this</p>
  }
  @else{
  <p>Please LogIn, you are a guest for now</p>
  } -->
  <ng-template appCustomDirective='admin'>
    <!-- ng-template is a special element can be used with our component to wrape some content which should not be intially rendered, we can control it and make it work as we want to, and it is compulsory for creating a structural directive and attach ng-template with the custom strucutral directive name as attribute-->
    <p>Only Admin can see this</p>
  </ng-template>
</main>